<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="/icons/anchor01.png">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.com/libraries/Chart.js">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
   <div class="login-page">
        <form class="login-form" action="/login" method="post">
            <div class="login-icon">
                <img src="/icons/anchor-white.png" alt="">
            </div>
            <div class="login-arcane">
                <h1>Login to Arcane</h1>
            </div>
            <div class="login-inputs">
                <div class="login-username-input">
                    <input type="text" class="login-username" name="username" placeholder="User ID">
                </div>
                <hr class="login-line">
                <div class="login-pass-input">
                    <input type="password" class="login-pass" name="password" placeholder="Password">
                </div>
            </div>
            <div class="login-button">
                <button class="login-button-btn" type="submit">
                    Login
                </button>
            </div>
        </form>
        <div class="link">
            <a href="/" class="links">Home</a>
            <a href="/dashboard" class="links">Dashboard</a>
            <a href="" class="links">About Us</a>
        </div>
   </div>
</body>
</html>