<%- include ("./partials/header") %>
    <head>
        <link rel="stylesheet" href="/stylesheets/dashboard.css">
    </head>
    <body>
        <div class="header">
            <div class="nav">
                <div class="logo">
                    <img class="anchorLogo" src="/icons/anchor-white.png" alt="">
                    <h1 class="arc" >Arcane</h1>
                </div>
                <div class="link">
                    <a href="/">Home</a>
                    <a href="">About Us</a>
                    <a href="">Docs</a>
                    <a href="">Sign Up</a>
                </div>
                <div class="searchBox">
                    <img src="/icons/search.png" alt="">
                    <input type="text" placeholder="Search Arcane">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-01">
                <div class="chart">
                    <!-- <img src="https://th.bing.com/th/id/OIP.UcFmWuuhEuP2jGmg69aCgQAAAA?pid=ImgDet&rs=1" alt=""> -->
                </div>
                <div class="data-01">
                    <!-- <img src="https://hips.hearstapps.com/hmg-prod/images/2019-porsche-911-gt3-rs-1545239515.jpg" alt=""> -->
                </div>
            </div>
        </div>
<%- include ("./partials/footer") %>
