<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - File not found</title>   
    <link rel="stylesheet" href="/stylesheets/error.css">
    <link rel="icon" href="/icons/anchor01.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.com/libraries/Chart.js">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contentDiv">
        <h1 class="errorText">
            404
        </h1>
        <br>
        <span class="errorMsg">
            Oops! nothing was found on this route.
        </span>
        <br>
        <p class="errorPara"><%= Reason %></p>
        <br>
        <div class="links">
            <ul class="links-list">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>