<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload file</title>
    <link rel="icon" href="/icons/anchor01.png">
    <link rel="stylesheet" href="/stylesheets/upload.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.com/libraries/Chart.js">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="god-container">
        <div class="upload">
            <div class="upload-area">
                <h1>Drag and drop or click to choose your file</h1>
            </div>
            <div class="upload-form">
                <div class="file">
                    <div class="file-logo">
                        <img src="/icons/anchor-white.png" alt="">
                    </div>
                    <div class="file-info">
                        <span class="file-name">File info</span>
                        <div class="file-input">
                            <input type="text" class="input-name" placeholder="name">
                            <hr>
                            <input type="text" class="input-description" placeholder="description">
                        </div>
                    </div>
                    <div class="button">
                        <button class="file-submit">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>