*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'source code pro';
}

body{
    background-color: rgb(0, 0, 0);
}

.whiteTxt{
    color: white;
}

.centeredDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.content01{
    display: flex;
    justify-content: space-between;
}

/* .anchorIcon{
    margin-right: 5px;
    display: none;
} */

.alignedMiddle{
    /* display: flex; */
    align-items: center;
}

.h1prar{
    font-size: 100px;
    color: rgba(255, 255, 255, .1);
    background-image: url('https://th.bing.com/th/id/R.6a5214701d977a406a9eb64b979a1921?rik=U2jwPghunkMGrg&riu=http%3a%2f%2f38.media.tumblr.com%2f3ef6ce978136be2a252c0ee333711168%2ftumblr_nesvhmYKbs1rquqsdo1_500.gif&ehk=SvonfgYnG0KnjkyLn24cZSBFablzBXp0VENX1pG0GlI%3d&risl=&pid=ImgRaw&r=0');
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 400;
    background-position: center;
    font-family: 'source code pro';
    transition: 1s;
 }

.h1prar:hover{
    filter: drop-shadow(0 0 100px white);
}

.navdad{
    height: 10vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    overflow: hidden;
}

.navBtn{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px dashed white;
    transition: .25s;
    color: white;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}

.navBtn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: .25s;
    cursor: pointer;
    border: 2px dashed black;
}

.icon{
    font-size: 10px;
    width: 50px;
}

.rightDiv{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.leftDiv{
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.landing{
    height: 100vh;
    /* background: url(/public/videos/PrARcane.gif); */
    /* background-image: url('https://miro.medium.com/max/552/1*Row2qPRNEwYe3VusMLCJnw.gif'); */
    /* background-image: url('https://media1.tenor.com/images/c92e7ae5370317229846b5c6ffd243ad/tenor.gif?itemid=16952273'); */
    background-image: url('https://i.pinimg.com/originals/e1/91/a8/e191a896209c083e069cc0c99b8c003d.gif');
    background-position: center;
    background-size: cover;
}

.p{
    text-align: center;
}

.bigTxt{
    font-size: 25px;
}

.descriptionP{
    padding-top: 15px;
}

.landing-01{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: f;
}

.boxes{
    justify-content: space-evenly;
    display: flex;
    /* padding-top: 100px; */
    height: 70vh;
    /* text-align: center; */
    align-items: center;
}

.box{
    width: 25%;
    border-radius: 5px;
    background-color: black;
    display: flex;
    height: 50vh;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.box-01{ 
    background-image: url('');
}

/* .box-02{

}

.box-03{

} */

.features{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.featureTxt{
    font-weight: 400;
    -webkit-background-clip: text;
    background-clip: text;
    color: black;
    background-image: url('https://th.bing.com/th/id/R.6a5214701d977a406a9eb64b979a1921?rik=U2jwPghunkMGrg&riu=http%3a%2f%2f38.media.tumblr.com%2f3ef6ce978136be2a252c0ee333711168%2ftumblr_nesvhmYKbs1rquqsdo1_500.gif&ehk=SvonfgYnG0KnjkyLn24cZSBFablzBXp0VENX1pG0GlI%3d&risl=&pid=ImgRaw&r=0');
    font-size: 50px;
}

.dash_link{
    color: white;
    padding: 0px;
    text-decoration: none;
}
 
.dash_link:hover{
    color: #000;
} 
