*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'source code pro';
}

body{
    /* background-color: black; */
}

.logo{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
}

.anchorLogo{
    width: 45px;
    margin-right: 10px;
}

.arc{
    font-size: 35px;
}