*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'source code pro';
    /* font-family: 'poppins'; */
    /* background-color: #161616; */
}
/* 
body{
    /* background-color: black; */
/* } */

.header{
    display: flex;
    justify-content: center;
    border-bottom: 4px solid #000000;
}

.logo{
    display: flex;
    /* flex-direction: column; */
    width: 60%;
}

.anchorLogo{
    width: 45px;
    margin-right: 10px;
}

.arc{
    font-size: 35px;
}

.nav{
    width: 90%;
    justify-content: space-between;
    padding: 15px 0px;
    display: flex;
    align-items: center;
}

.searchBox{
    /* width: 30%; */
    display: flex;
    align-items: center;
    border: 2px dashed black;
    padding: 10px 10px;
    border-radius: 25px;
}

.searchBox img{
    width: 20px;
    height: 20px;
}

.searchBox input{
    outline: none;
    /* border: 2px solid black; */
    /* padding: 10px 10px; */
    /* border-radius: 20px; */
    border: none;
    padding-left: 6px;
}

.link{
    width: 23%;
    display: flex;
}


.link a{
    margin: 0px 19px;
    text-decoration: none;
    color: black;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: #e9ebef;
    align-items: center;
}

.content-01{
    width: 90%;
    margin-top: 2em;
    display: flex;
} 

.chart{
    width: 30%;
    /* border: 2px dashed #000d; */
    margin-right: 1em;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    height: 80vh;
}
.files_tabs{
    /* overflow-x: hidden; */
    margin-bottom: 5px;
    margin-top: 5px;
    /* overflow: scroll; */
    width: 99%;
    /* height: 81vh; */
    /* border: 2px dashed #000d; */
    /* border-radius: 10px; */
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    display: flex;
}
.data-01{
    /* overflow: scroll; */
    width: 70%;
    /* border: 2px dashed #000d; */
    border-radius: 10px;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    display: flex;
}

/* .data-01 img{
    width: 500px;
}

.chart img{
    width: 500px;
} */

#userPfp{
    width: 43px;
    height: 43px;
    border: 2px dashed black;
    border-radius: 50%;
    padding: 1.5px;
    margin-left: 18px;
}

#pieChart{
    width: 400px;
    height: 400px;
    /* margin-top: 50px; */
}

.chart{
    display: flex;
    padding: 50px;
    text-align: justify;
    align-items: center;
    flex-direction: column;
}

.chartContainer{
    display: flex;
    justify-content: center;
}

.chartData{
    margin-top: 25px;
    display: block;
}

#pinkLabel, #yellowLabel, #blueLabel{
    width: 20px;
    height: 20px;
    /* background-color: black; */
    margin-right: 15px;
    display: flex !important;
}

#pink, #yellow, #blue{
    display: flex !important;
  
}

#pinkLabel{
    background-color: #36a2eb;
}

#yellowLabel{
    background-color: #ffcd56;
}

#blueLabel{
    background-color: #ff6384;
}


.files{
    margin-top: 10px;
    /* height: 29% !important; */
    align-items: center;
    /* display: flex; */
    border: 1px solid #bababa;
    width: 98%;
    /* justify-content: center; */
    align-items: start;
    padding: 15px;
    padding-bottom: 35px;
    padding-top: 35px;
    border-right: none;
    border-left: none;
    /* display: flex; */
    /* flex-direction: column; */
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 0px 0px #a5a2a2; */
    /* transition: .25s; */
}

.file_name{
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 5px;
    color: black;
    text-decoration: none;
    width: 80%;
}

.file_name:hover{
    text-decoration: underline;
}

.files span{
    color: rgb(115, 115, 115);
    font-size: 16px;
}



.files_owner_pfp{
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 2px solid #c5c5c5;
    padding: 2px;
    object-fit: cover;
    margin-right: 10px;
}

.user_pfp img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 4px;
}

.user_pronouns h2{
    font-weight: 300;
    margin-bottom: 20px;
}

.user_name{
    margin-bottom: 5%;
}

.user_name h1{
    font-weight: 500;
    margin-bottom: 0px;
}

.user_aboutMe{
    display: flex;
    flex-direction: column;
}

.edit_profile{
    padding: 6px;
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid black;
    transition: .1s;
}

.edit_profile:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.user_file_upload_time{
    font-weight: 400;
    color: rgb(115, 115, 115);
    margin-top: 10px;
}

.upload_lstime{
    text-decoration: none;
    color: black;
    font-style: 10px;
    font-weight: 500;
}

.file_info{
    display: flex;
    margin-top: 14  px;
    align-items: center;
}

.upload_lstime:hover{
    text-decoration: underline;
}

.favStar{
    width: 15px;
    margin-top: 10px;
    height: 15px;
    margin-right: 12px;
}

.footer{
    display: flex;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: space-evenly;
}

.footer_link{
    display: flex;
    align-items: center;
}

.footerGod{
    justify-content: center;
    display: flex;
    background-color: #e9ebef;
    width: 90%;
    border-top: 1px solid #bababa;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer_link a{
    color: black;
    text-decoration: none;  
    font-size: 13px; 
}

.footer_link a:hover{
    text-decoration: underline;
}

.footer_logo{
    width: 20px;
    height: 20px; 
    margin-right: 5px;
}

.edit_profile a{
    text-decoration: none;
    color: #000;
}

.login-username, .login-pass{
    caret-color: black;
}