*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'source code pro';
}

.god-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.upload{
    width: 80%;
    display: flex;
    /* text-align: center;
    justify-content: center;
    align-items: center; */
}

.upload-area{
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    align-items: center;
    margin-right: 1%;
    border-radius: 1.5%;
}

.upload-form{
    width: 30%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.5%;
    border: 2px solid black;
}

.upload-area h1, .upload-form h1{
    font-size:25px;
}

.upload-area, .upload-form{
    padding: 10px;
}

.file{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-info{
    /* margin-top: 10px; */
    width: 90%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
}

.input-name, .input-description{
    outline: none;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 10px;
}

.file-input{
    width: 100%;
    margin-top: 5px;
    border: 1px solid black;
    border-radius:10px;
    caret-color: black;
}

.button{
    width: 90%;
    margin-top: 3%;
}

.file-submit{
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: .1s;
}

#uploadForm{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.file-logo{
    /* margin-bottom: 10%; */
    bottom: 30%;
    position: relative;
}

.file-submit:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-color: black;
}

.upload-file{
    border-radius: 10px;
    width: 55%;
    height: 80%;
    text-align: center;
    color: transparent;
    /* position: fixed; */
    position: absolute;
    z-index: 5;
    outline: none;
}

.upload-file::-webkit-file-upload-button{
    /* border: none;
    background: transparent;
    color: white;
    width: 0;
    height: 0; */
    display: none;
}

.file-text{
    font-size: 20px;
    text-align: center;
    line-height: 2;
}

.text{
    cursor: pointer;
}

.links{
    display: flex;
    width: 100%;
    margin-top: 3%;
    justify-content: space-evenly;
}

.links-link{
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.links-link:hover{
    text-decoration: underline;

}


