<%- include ("../partials/header")%>
<head>
    <link rel="stylesheet" href="/stylesheets/arcane.css">
    <title>Arcane | Home</title>
</head>
<body>
    <div class="allContent">
        <div class="landing">
            <div class="navdad">
                <div class="navbar">
                    <div class="leftDiv">
                        <img class="icon" src="/icons/anchor01.png" alt="Project Arcane">
                    </div>
                    <div class="rightDiv">
                        <a class="navBtn" href="/login">Enter Site</a>
                    </div>
                </div>
            </div>
            <div class="centeredDiv">
                <div class="content01">
                    <!-- <img class="anchorIcon" src="/public/icons/anchor.png" alt="Project ARcane"> -->
                    <div class="alignedMiddle">
                        <div class="titleh1">
                            <h1 class="whiteTxt h1prar">
                                <span class="w1">
                                    Project...
                                </span>
                                <br>
                                <span class="w2">
                                    Arcane
                                </span>
                            </h1>
                        </div>
                        <div class="descriptionP">
                            <p class="whiteTxt p">
                                <span style="font-size: 20px; font-family: 'poppins';">ARcane is a personal project made by CyberRodeo out of interest to store files on cloud!</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="server.js"></script>


<%- include ("../partials/footer")%>
