<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberRodeo</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="/icons/anchor01.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.com/libraries/Chart.js">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&family=Source+Code+Pro:wght@300;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="profile">
            <h1 class="headerTxt">Update the file:</h1>
            <form action="/user/profile" method="POST">
                <div class="UserProfilePic">
                    <img class="profPic" src="" alt="">
                </div>
                <div class="UserName">
                    <input type="text" placeholder="" name="name" required>
                </div>
                <div class="UserAbout">
                    <textarea type="text" placeholder="" name="abtme" required></textarea>
                </div>
                <div class="UserBtnSub">
                    <button type="submit">Update File</button>
                </div>
            </form>         
        </div>
    </div>
</body>
</html>