<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcane.ejs</title>
    <link rel="icon" href="/icons/anchor01.png">
    <link rel="stylesheet" href="/stylesheets/files.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="nav">
            <div class="logo">
                <img class="anchorLogo" src="/icons/anchor-white.png" alt="">
                <h1 class="arc">Arcane</h1>
            </div>
            <div class="link">
                <a href="/">Home</a>
                <a href="/upload">Upload</a>
                <a href="/login">Login</a>
            </div>
            <div class="searchBox">
                <img src="/icons/search.png" alt="">
                <input type="text" placeholder="Search Arcane">
            </div>
            <img id="userPfp"
                src="https://yt3.ggpht.com/a/AATXAJyAjXWhg85XlBUBufDpYQ7zB7GIiIlg9js4_wCoFA=s900-c-k-c0xffffffff-no-rj-mo"
                alt="">
        </div>
    </div>
    <div class="file">
        <div class="file-content">
            <div class="file-name">
                <h1 class="file-name-h1">Visual Studio Code - insiders edition</h1>
            </div>
            <div class="file-description">
                <p class="file-desc-p">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta quibusdam ipsam nihil corporis eum necessitatibus maiores iure provident ab vero illum, nisi porro aliquid ut recusandae? Pariatur, excepturi. Aliquam, at.
                </p>
            </div>
            <div class="file-preview">
                <div class="file-details">
                   <span class="file-extension">PDF</span>                                     
                </div>
                <div class="file-controllers">
                    <button class="file-buttons">
                        Delete
                    </button>
                    <button class="file-buttons">
                        Download
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>