<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload file</title>
    <link rel="icon" href="/icons/anchor01.png">
    <link rel="stylesheet" href="/stylesheets/upload.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.com/libraries/Chart.js">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="god-container">
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <div class="upload">
                <div class="upload-area">
                    <input type="file" name="file" onchange="changeText();" class="upload-file" id="file-inp" name="file">
                    <p onerror="" class="file-text" id="text">Drag and drop your file or click here</p>
                </div>
                <div class="upload-form">
                    <div class="file">
                        <div class="file-logo">
                            <img src="/icons/anchor-white.png" alt="">
                        </div>
                        <div class="file-info">
                            <span class="file-name">File details:</span>
                            <div class="file-input">
                                <input type="text" name="file-name" class="input-name" placeholder="File name" required>
                                <hr>
                                <input type="text" name="file-description" class="input-description" placeholder="File description" required>
                            </div>
                        </div>
                        <div class="button">
                            <button class="file-submit">Upload</button>
                        </div>
                        <div class="links">
                            <a href="#" onclick="backpage()" class="links-link" id="back-link">
                                Back
                            </a>
                            <a href="/dashboard" class="links-link">
                                Dashboard
                            </a>
                            <a href="/" class="links-link">
                                Home
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="/scripts/upload.js"></script>
</body>
</html>